<table summary="Store form filed">
  <tr>
    <th class="column" >STORE &nbsp;&nbsp;</th>
    <td class="column"><%= f.text_field :store_name, required: true, :size=>"32"%></td>
  </tr>
  <tr>
    <th class="column">CITY</th>
    <td class="column"><%= f.text_field :city,required: true%></td>
  </tr>
  <tr>
   
  
</table>
<!-- <div class="show_table">
  <div class="table-row">
     <div class="table-cell column">STORE &nbsp;&nbsp; </div>
     <div class="table-cell column"><%= f.text_field :store_name, required: true, :size=>"32"%></div>
  </div><br>
  <div class="table-row">
     <div class="table-cell column">CITY</div>
     <div class="table-cell column"><%= f.text_field :city,required: true%></div>
  </div>
</div> -->
