<table summary="Store form filed">
  <tr>
    <th>Store Name</th>
    <td><%= f.text_field :store_name, required: true%></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= f.text_field :city,required: true%></td>
  </tr>
 
 
  <!-- <tr>
      <th>Created at</th>
      <td>
        <%= f.datetime_select(:created_at, :order =>[:day, :month, :year])%>
      </td>
    </tr> -->
</table>
