<table summary="Store form filed">
  <tr>
    <td class="column heading"><h5>Store</h5></td>
    <td class="column"><%= f.text_field :store_name, required: true,:size=>"30"%></td>
  </tr>
 
  <tr>
    <td class="column heading"><h5>City</h5></td>
    <td class="column city-column"><%= f.text_field :city,required: true%></td>
  </tr>
  <tr>
   
  
</table>
