<%=link_to("Back to store list",stores_path)%>
<div class="edit">
  <h2>Edit Store</h2>
  <%=form_for @store  do |f|%>
  <%=render(:partial =>'form',:locals=>{:f=>f})%>
  <div class="form-buttons"><%= f.submit("Update Store")%></div>
  <% end%>

</div>
