<div class="upload_csv">
<h3 class="heading_csv"> Import .csv File </h3>


<div class="input_form"><%=form_tag  import_store_transactions_path, multipart: true do %>

    <%=file_field_tag :file%> 
    <%=submit_tag  "Upload",class: "import_btn"%>
    
    <%end%></div>


</div>