body
{
 background-color: #F9F9F9;
 background-image: linear-gradient(to right, #F9F9F9 , #EFEFEF);
 text-align: center;
 
}
.login
{
    background-color: #D3CEDF;
    /* border-style:solid; */
    height:430px;
    width:500px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    padding:5px;
    box-shadow:  2px 2px 2px 2px #c1b4e0;
}
h2
{
    margin-top: 15px;
}
.field
{
    margin-top: 20px;
}
.form_field
{
    width: 90% ;
    margin-left: auto;
    margin-right: auto;
}
.label
{
    margin-right: 75% ;
}
.email_label
{
    margin-right: 82% ;
    margin-top: 20px;
}
.checkbox
{
    margin-right: 70%;
}
.form-check-input
{
    margin-left: 0.55% !important;
}