body
{
 background-color: #F9F5EB;
}
.signout a:link { 
    text-decoration:none; 
   
}
.signout
{
    margin-top: -70%;
    margin-left: -5%;
}
.home
{
    margin-left: -100%;
    margin-top: -13px;
    padding: .2%
}
.home a:link { 
    text-decoration:none; 
}
.search
{
    margin-left: 50px;
    padding:.2%;
    margin-top: -10%;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 85%;
    margin-top: 1%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
